In [1]:
import pandas as pd
import openpyxl
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.chart import BarChart, Reference
import string

In [2]:
excel_f = pd.read_excel('vendas_supermercados.xlsx')

In [3]:
excel_f[['Gender','Product line','Total']]

     Gender            Product line      Total
0    Female       Health and beauty   548.9715
1    Female  Electronic accessories    80.2200
2      Male      Home and lifestyle   340.5255
3      Male       Health and beauty   489.0480
4      Male       Sports and travel   634.3785
..      ...                     ...        ...
995    Male       Health and beauty    42.3675
996  Female      Home and lifestyle  1022.4900
997    Male      Food and beverages    33.4320
998    Male      Home and lifestyle    69.1110
999  Female     Fashion accessories   649.2990

[1000 rows x 3 columns]

In [13]:
tabela1 = excel_f.pivot_table(index='Gender', columns='Product line', values='Total', aggfunc='sum').round(0)

In [14]:
tabela1

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,27102.0,30437.0,33171.0,18561.0,30037.0,28575.0
Male,27236.0,23868.0,22974.0,30633.0,23825.0,26548.0

In [15]:
tabela1.to_excel('vendas_2021.xlsx', sheet_name='vendas',startrow=4)